[2016-06-14 20:50] NickTikhonov opened #1 "Auto-updating starter desktop app"
It begins! This issue is concerned with the creation of the simplest possible auto-updating electron app.
- The application will be powered by Electron
- The application should automatically update to the latest version available on launch, and periodically thereafter.

Currently, I'm looking into using [Electron auto-updater](https://github.com/electron/electron/blob/master/docs/api/auto-updater.

[2016-06-17 15:18] tarebyte opened #4 "Adding Linting to project"
@NickTikhonov while this project is still relatively new, we should add some kind of JS linting to the project.

What do you think about https://github.com/eslint/eslint ?

[2016-06-17 17:22] #1 closed, assigned to NickTikhonov

[2016-06-17 17:29] NickTikhonov opened #6 "Adding Logging to project"
It should be possible for the app to generate logs when run in development mode. This is essential for debugging, especially since electron apps run in multiple processes.

[2016-06-17 22:06] #6 closed, assigned to NickTikhonov

[2016-06-17 22:08] #4 closed, assigned to NickTikhonov

[2016-06-17 23:16] NickTikhonov opened #8 "Front-end setup."
The next step is to set up the front-end :D Planned work:

* Setting up [React](https://facebook.github.io/react/) - the rendering library
* Setting up a basic [Flux](https://facebook.github.io/flux/docs/overview.html) architecture - using a library or otherwise
* Setting up [PhotonKit](http://photonkit.com/)
* Adding some basic front-end code to show that rendering is working

[2016-06-20 16:32] NickTikhonov opened #9 "Packaging/Autoupdating for Windows"
It should be possible to package, release and auto-update the application for Windows as well as MacOS. This would be desirable as it will give more teachers access to the features this app will provide.

CC @johndbritton @tarebyte

[2016-06-20 16:37] NickTikhonov opened #10 "Open-sourcing the application"
The application should be made open-source, and the release versions should be migrated to this repository (currently they are [here](https://github.com/NickTikhonov/electron-desktop-test-releases/releases)). Before this can be done, I will double check to make sure this repo never stored sensitive information. CC @johndbritton

[2016-06-20 16:43] NickTikhonov opened #11 "Design Discussion"
We should have a good idea of what the app is going to look at before getting started with React/PhotonKit. It would be good to have a sketch of the different views the app will show, and how teachers will be able to interact with the interface to get what they want done. Once we have a sketch, we can get feedback from the design team.

CC @johndbritton @tarebyte

[2016-06-20 16:53] tarebyte commented on #10
Done! I went through the commits as well 😄

[2016-06-20 16:53] #10 closed

[2016-06-20 18:38] NickTikhonov commented on #8
It would also be quite nice to include an end-to-end testing library like [`spectron`](https://github.com/electron/spectron).

[2016-06-20 20:01] NickTikhonov commented on #10
Thanks for double checking @tarebyte! 💯

[2016-06-20 20:34] johndbritton commented on #10
:heart:

[2016-06-20 20:38] johndbritton commented on #9
We also want to support linux 🐧

[2016-06-20 21:18] NickTikhonov commented on #9
@johndbritton - good call, I will start another issue

[2016-06-20 21:18] NickTikhonov opened #13 "Packaging/Autoupdating for Linux"
It should be possible to package, release and auto-update the application for Windows as well as MacOS. This would be desirable as it will give more teachers access to the features this app will provide.

CC @johndbritton @tarebyte

[2016-07-01 20:29] NickTikhonov commented on #11
Here are some sketches of what I think is a good starting point for the design. This design assumes that Classroom will provide a button on the assignment screen that will launch the desktop application. This design considers [Schneiderman's UI Heuristics (https://faculty.washington.edu/jtenenbg/courses/360/f04/sessions/schneidermanGoldenRules.html)

![new doc 1_1](https://cloud.githubusercontent.

[2016-07-03 16:16] tarebyte commented on #11
@NickTikhonov this looks good to me, it seems really straight forward and pretty easy to use.

[2016-07-05 17:34] NickTikhonov commented on #11
Notes on the design from @johndbritton:

* Most common scenario is the teacher cloning all of the submissions - the checkboxed on view 2 should be checked by default.

* Prior to downloading submission repos, a new directory should be created at the destination path with the format `<assignment name>-<current datetime>` to ensure there are no clashes from multiple downloads of the same assignment.

[2016-07-05 17:35] NickTikhonov commented on #8
Issue resolved with #12

[2016-07-05 17:35] #8 closed

[2016-07-13 17:37] NickTikhonov opened #17 "Cloning a Repository"
It should be possible for the app to clone a public repository from GitHub. This can be the first iteration towards our end goal - simultaneously cloning numerous public/private repositories. Proposed features:

- A backend component wrapping around a library such as [nodegit](http://www.nodegit.org/), which accepts a repository URL, path and notifies the caller about the progress and on completio

[2016-07-25 16:37] NickTikhonov opened #19 "React Router warnings on changing routes"
Every time UI elements get re-rendered by React, the following error gets printed to the Developer Tools console:

[code]

I think this is caused when the `<Route>` components inside `<Router>` get changed, but I don't know why/where this is happening.

[2016-07-25 19:07] #17 closed

[2016-07-27 16:02] NickTikhonov commented on #19
This warning was caused by bad integration of `redux` and `react-router`. Fixed in #20.

[2016-07-27 16:03] #19 closed

[2016-08-26 12:12] pensierinmusica opened #22 "Homepage link not working"
Hi,

In the project description there's this link:  https://classroom.github.com/desktop

Unfortunately it doesn't seem to work.

Can you please check it?

Thanks!

[2016-08-26 13:01] johndbritton commented on #22
@pensierinmusica this project is still under development, so the page has not been published yet.

[2016-08-26 13:01] #22 closed

[2016-10-14 14:27] yvan-sraka opened #24 "Website down.."
On https://classroom.github.com/desktop I get:

[2016-10-17 07:03] johndbritton commented on #24
@yvan-sraka Thanks for opening this, as we're still developing this application there is no landing page yet. We'll put one up once this is ready to go.

[2016-10-17 07:03] #24 closed

[2017-11-09 18:01] PeterDaveHello commented on #13
Does that means if I simply replace `darwin` with `win32` or `linux` in the packaging command:  `electron-packager . 'GitHub Classroom' --icon=app/resources/icon.icns --platform=darwin --arch=x64 --out=dist --overwrite`, it will not work?

Thanks!

[2017-11-09 20:54] johndbritton commented on #13
It should be pretty easy to get this working cross platform, but it's not been tested.

[2017-11-09 22:35] PeterDaveHello commented on #13
I tested it but not sure if I missed anything since I got empty(white) window on both Windows and Linux, and exception with white window on macOS, I'll try to test on different platforms and give a more detail report.

[2018-03-24 10:14] shiftkey opened #31 "setup codesigning and create new release"
Electron apps require a codesigning certificate for macOS installation, and strongly recommend this on Windows. There should be a way to do this as part of packaging, which is currently macOS-only.

Also, the updater is currently calling `http://cd-us.herokuapp.com` to look for updates. I gather that's just mirroring the GitHub releases currently on this repository, which is fine (aside from the l

[2018-03-24 10:19] shiftkey opened #32 "cloning repository requires token (and OAuth app?)"
Using the example account baked into the application, it tries to clone a number of repositories which represent the (private) student repositories.

Nodegit expects some credentials to be provided, but I can't spot anywhere in the app where this is managed. Ideally, the application should OAuth on behalf of the user and request a token - it'll need `repo` scope to access private repositories - an

[2018-03-24 10:21] shiftkey opened #33 "upgrade react-router to v4"
This is a little bit of technical debt for someone who knows more than me about `react-router` (i.e. anything).

`react-router` v4 is a full rewrite, and [the docs](https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/guides/migrating.md) are a good starting point to understand how this affects the app and how we can migrate without changing too much.

[2018-03-24 10:24] shiftkey opened #34 "investigate enabling submission-clone-all-test"
This is a test I had to disable when we moved away from Jest, and it'd be nice to get it enabled again. If you're familiar with redux and how to test nested actions, have a look at [the source](https://github.com/education/classroom-desktop/blob/master/app/modules/submissions/actions/__tests__/submission-clone-all-test.js) and see if you can spot a way out of it.

[2018-03-28 20:13] johndbritton commented on #32
This is currently unimplemented. We need to build a sign in flow / oauth with corresponding GitHub application. This may behave similar to how GitHub Desktop behaves.

[2018-03-28 20:14] johndbritton commented on #31
We should probably update that to a url on `classroom.github.com`. I don't know where that heroic app is or how it's running.

[2018-03-31 05:09] #9 closed

[2018-03-31 05:09] #13 closed

[2018-03-31 06:00] shiftkey opened #36 "wireup appveyor to do CI on Windows"

[2018-03-31 06:29] shiftkey opened #38 "acceptance test - does the app still launch fine?"
See https://github.com/education/classroom-desktop/pull/21#issuecomment-377666925 for context

[2018-07-19 16:33] srinjoym opened #46 "Implement timed token exchange with Classroom"
Already implemented on Classroom with https://github.com/education/classroom/pull/1450
Need to add support on Classroom Desktop side.

### TODO:
- [x] Refactor `userAuthentication.js` to go to Classroom API instead of GitHub OAuth
- [x] Store access token in keytar
- [x] Use token in all requests to Classroom API
- [x] Automatically redirect users to `populate` page if user is logged in
- [x] Migr

[2018-08-16 00:56] srinjoym opened #48 "Add selector for type to assignments"
Add type selector here: https://github.com/education/classroom-assistant/blob/master/app/modules/assignment/selectors.js

[2018-08-16 01:36] srinjoym opened #49 "Update Styling to match Classroom"
### TODO:
- [x] New Splash Screen
- [x] New Assignment Header throughout UI
- [x] Logout Button in Header
- [x] Update auth window to go to Classroom API
- [x] New icons for Labels
- [x] Overall Progress Bar for Archive Window

[2018-08-16 01:42] srinjoym opened #50 "Add Release Scripts on CI"
Need to build on all three operating operating systems for electron forge packaging to work

### TODO:
- [x] Get Mac Developer Certificate
- [x] Encrypt Developer Certificate in Travis CI?
- [x] Setup AppVeyor Builds for Windows (https://github.com/education/classroom-desktop/issues/36)
- [x] Configure CI to publish to GitHub releases
- [x] Get Windows certificate

[2018-08-16 01:53] srinjoym opened #51 "Clone Private Repos with Temporary Cloning Tokens"
Shipped `daredevil-preview` to GitHub API so we can now clone private repos!!

### TODO:
- [x] Fix behavior for public repos (not getting a token causes nodegit to not work for some reason)
- [x] Tests tests tests

[2018-08-16 01:56] srinjoym opened #52 "Switch to Dugite for cloning"
Update: NodeGit is also a pain to build on Windows because of issues with node-gyp. Pushing priority of this up for MVP Release because it'll require more often to figure out how to get NodeGit to work instead of just switching to Dugite.

Nodegit is causing significant performance bottlenecks when cloning multiple repositories. Dugite is a package with native git bindings for Electron that was de

[2018-08-16 02:06] srinjoym commented on #32
Fixed with #46

[2018-08-16 02:06] #32 closed

[2018-08-17 21:34] srinjoym opened #54 "Fix Windows Auth Window Issues"
Currently the deep link protocol handler opens a whole new app window in Windows. Update functionality to match Mac.

[2018-08-24 14:13] BenEmdon opened #57 "Bump electron to 1.8.8"
<img width="738" alt="screen shot 2018-08-24 at 10 11 38 am" src="https://user-images.githubusercontent.com/11095731/44589293-2ac7e600-a786-11e8-87ff-e9e63baa62a5.png">

[2018-09-09 21:47] srinjoym opened #60 "Windows Styling Issues"
### TODO
- [x] Remove toolbar for dragging when not on Mac
- [x] Remove extra width causing the scroll bar to appear
- [x] Cleanup helper shortcuts
- [x] Get Squirell Installation GIF

[2018-09-16 18:23] srinjoym opened #62 "Mac Keychain Prompts"
Classroom Assistant repeatedly prompts the user for access to the keychain

[2018-09-16 23:24] srinjoym opened #64 "Add icon URL for Windows Control Panel"
Need to point iconURL in winstaller config towards classroom assistant logo after UI fixes are all merged.

[2018-09-17 03:24] srinjoym opened #65 "Improve Error Handling across App"
Add support to throw error messages/better communicate errors to Users

[2018-09-17 18:57] #52 closed

[2018-09-17 19:00] #51 closed

[2018-09-17 19:00] #46 closed

[2018-09-17 19:01] #49 closed

[2018-09-17 19:01] #11 closed

[2018-09-17 19:01] #38 closed

[2018-09-17 19:03] srinjoym opened #66 "Clone URL Fetch Errors"
The Classroom API is returning `302`s sometimes when cloning a large assignment (many submissions).

Have not been able to replicate locally, only happening in production.

[2018-09-17 19:04] srinjoym opened #67 "Rename Classroom Desktop to Classroom Assistant"
#### TODO:
- [x] Rename UI Splash Screen
- [x] Rename App name in package json

[2018-09-17 21:17] srinjoym commented on #66
Figured out the issue was on Classroom side with out of date tokens. Closing this issue

[2018-09-17 21:17] #66 closed

[2018-09-21 02:38] srinjoym opened #68 "Add Google Analytics"

[2018-09-21 02:39] srinjoym opened #69 "Progress Bar at 98% even though cloning finished"
Might be a good reason to switch to showing a finished panel when all clones are done

[2018-09-21 16:06] BenEmdon opened #70 "User dropdown is difficult to dismiss"
When you click the user dropdown it is difficult to dismiss. Here's a gif of what I mean:
![sep-21-2018 12-02-26](https://user-images.githubusercontent.com/11095731/45892561-73c78600-bd96-11e8-9d59-db437dc5788f.gif)

The user experience I was expecting:
![sep-21-2018 12-04-51](https://user-images.githubusercontent.com/11095731/45892627-a1acca80-bd96-11e8-9371-732f5e08edea.gif)

[2018-09-21 16:14] BenEmdon opened #71 "Allows me to proceed when downloading 0 assignments"
When I select an assignment that has 0 assignment repos, I am still able to continue with the download process:
![sep-21-2018 12-12-44](https://user-images.githubusercontent.com/11095731/45892955-b2aa0b80-bd97-11e8-98fb-8382654126df.gif)

This just seems like weird user experience to me. It would be better if we stopped the user to say that there are no repositories to download.

[2018-09-21 18:16] johndbritton commented on #71
Either disable the button or don’t show it when there are zero repositories.

[2018-09-21 18:19] BenEmdon commented on #71
On the classroom side or the assistant side? Or both?

[2018-09-21 18:20] johndbritton commented on #71
On the web interface. Zero case might be handled separately on desktop as well, but would start with web side.

[2018-09-24 04:49] #54 closed

[2018-09-24 05:09] #62 closed

[2018-09-24 05:46] #60 closed

[2018-09-24 05:48] #57 closed

[2018-09-24 05:55] #50 closed

[2018-09-24 05:56] #31 closed

[2018-09-24 05:56] #36 closed

[2018-09-24 06:29] srinjoym opened #74 "Add Crash Reporter"
Integrate with Electron Crash Reporter and setup server for Crash reporting

[2018-09-24 13:52] johndbritton opened #76 "Gracefully handle deleted users / repositories"
When downloading repositories for an assignment where a repository was deleted, the progress bar doesn't reach 100% and the app hangs.

<img width="1183" alt="screen shot 2018-09-24 at 3 50 14 pm" src="https://user-images.githubusercontent.com/123345/45955963-ad57f580-c011-11e8-8bd3-c8ea9b54b2f3.png">

user deleted, but repo still exists:

<img width="1103" alt="screen shot 2018-09-24 at 3 48 05 p

[2018-09-24 13:56] johndbritton commented on #76
cc/ https://github.com/education/classroom-assistant/issues/76

[2018-09-24 13:57] johndbritton commented on #69
Found the source of this problem, leaving this open as we should still show a finish panel.

[2018-09-25 02:44] #67 closed

[2018-09-25 06:38] #68 closed

[2018-09-25 12:23] srinjoym opened #85 "Group Assignment Icon"
Right now we just look up the group name as if it's a user avatar.

We should be passing the GitHub team avatar URL from the Classroom API

[2018-09-28 11:39] jtppragg opened #86 "Error opening x-github-classroom://"
I have installed the classroom-assistant_1.0.0_amd64.deb release file in Kubuntu 18.04 LTS but after signing in with my account I get an error about not being able to open the following URL:

x-github-classroom://?code=BAh7BzoMd...

![screenshot_20180928_133745](https://user-images.githubusercontent.com/43606299/46206272-bd2e4d00-c323-11e8-86d7-02e674d61bb8.png)

[2018-09-28 17:44] srinjoym commented on #86
Hi @jtppragg! 👋

Thanks for downloading Classroom Assistant! There seems to be an issue with the protocol handling on some distributions of Linux. We're currently looking into a solution, I'll update you as soon as we make some progress!

Thanks for your patience! 🙌

[2018-09-28 17:45] danielcregg opened #87 "Update README instruction on how to run on Windows 10"
Please update the instructions on how to get this running on Windows 10. If you could do this in a step by step fashion that would be great. Please include required software and versions e.g. Node Version X

[2018-09-28 21:35] caw13 commented on #86
@srinjoym is there a particular Linux configuration that has had success that I can try in the meantime?  I'm having an issue with Ubuntu 18.04 as well that I suspect it's probably the same issue.  Thanks!

[2018-09-29 08:36] jjfPCSI1 opened #88 "Could not find assignment"
I just downloaded the MacOS version of classroom assistant, entered my login/password for github on the account which is able to manage my classroom but when I enter the assignment URL (I guess the one that is on the "assignements" page of my classroom and that i gave the student for them to clone their repositories), I get the error message "Could not find assignment.".

Is there another URL asso

[2018-09-29 12:49] jjfPCSI1 commented on #88
Ok, thanks, it worked !

[2018-09-30 02:41] srinjoym commented on #86
@caw13 It looks like there's an issue with setting the protocol handling up in Electron on all distributions of Linux. Working to get a fix out asap, really sorry for the inconvenience!

[2018-10-01 07:24] BrianEmilius opened #90 "Application will not start on Linux Mint Cinnamon"
I downloaded the v1.0.0 debian build and installed it on my Linux Mint Cinnamon box.

But when I try to open an assigment in classroom assistant via classroom.github.com, nothing happens.

[2018-10-01 08:11] srinjoym commented on #86
@jtppragg @caw13 I just released a new version of Classroom Assistant which should fix the problems you guys have been experiencing on Ubuntu 18.04. Let me know if this build seems to be working, once again really sorry for the inconvenience!

Here's the link to the Debian file: https://github.com/education/classroom-assistant/releases/download/v1.0.1/classroom-assistant_1.0.1_amd64.deb

[2018-10-01 08:15] srinjoym commented on #90
Hi @BrianEmilius 👋

Thanks for downloading Classroom Assistant! I'm really sorry you've hit this problem. I just released an update to Classroom Assistant which fixed some bugs users were seeing when the app was being installed on Linux. Let me know if this new build works for you!

Here's the link to the Debian package: https://github.com/education/classroom-assistant/releases/download/v1.0.1/cla

[2018-10-01 08:47] BrianEmilius commented on #90
Hi @srinjoym
Thank you for a really fast response. I had not noticed the update which was released 5 minutes before I reported this issue.
It is now fixed for me, and everything seems to work perfectly. I am going to test as much as I can now.
Thanks for a great product :)

[2018-10-01 08:47] #90 closed

[2018-10-01 09:04] jtppragg commented on #86
Thank you @srinjoym for your quick response but I am afraid that this fix introduces another problem related to url handling. This console output is shown and the GUI does not start now:

(node:11106) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Command failed: xdg-settings set default-url-scheme-handler x-github-classroom classroom-assistant.desktop

(no

[2018-10-01 12:21] ITSPaul commented on #87
There is a Windows Installer here https://github.com/education/classroom-assistant/releases. It is slow to install though

[2018-10-01 12:30] danielcregg commented on #87
Thanks for your reply. I stumbled upon this in my search for an answer. I was trying to build the application before but I had no success. The Installer worked the first time! Please put this link on the GitHub ReadMe for Classroom Assistant and a link on the main Classroom Assistant webpage.

[2018-10-01 12:30] #87 closed

[2018-10-01 14:33] jagodwin opened #92 "Windows Build Instructions"
Can you provide platform-specific instructions for building on Windows? I'm running Win 10. Looking forward to trying this out!

One small recommendation - I cannot find a download link on https://classroom.github.com/assistant. There's some description about this project, but no way to get it without separately searching for this repo - I'd suggest putting a link to the Github repo at least on th

[2018-10-01 16:13] srinjoym commented on #92
Hi @jagodwin 👋

Thanks for writing in! Sorry for the inconvenience in getting to the Windows App, I've linked the packaged app below. Just realized we have a bug on the Assistant Landing page where Windows users are not seeing the download button that links to the setup file, will have a fix up for that shortly!

The Windows version of the app is available here:
https://github.com/education/classr

[2018-10-01 17:13] srinjoym commented on #86
@jtppragg Sorry you're still dealing with issues! Are you installing the debian package through the Ubuntu Software Center/some other package installer? Should be able to open Classroom Assistant from your desktop after that install.

The only reason I can think of for that command to be failing is if it cannot find the Classroom Assistant `.desktop` file, which should be installed when the app is

[2018-10-01 17:32] jtppragg commented on #86
I have successfully installed the deb file form the command line using:
`# dpkg -i classroom-assistant_1.0.1_amd64.deb`

The Kubuntu application launcher also shows the Classroom Assistant app, which is associated to the following *.desktop file:
`$ ls -l /usr/share/applications/classroom-assistant.desktop`
`-rw-r--r-- 1 root root 229 oct  1 09:48 /usr/share/applications/classroom-assistant.deskto

[2018-10-02 08:33] danielcregg opened #93 "Please put link to package installers in README"
Please put the below link in the README section of https://github.com/education/classroom-assistant

LINK TO PACKAGE DOWNLOADS FOR WINDOWS AND LINUX:
https://github.com/education/classroom-assistant/releases

[2018-10-02 14:15] jtppragg commented on #86
I think the problem is not related to the url-scheme association:
`$ grep github ~/.config/mimeapps.list`
`x-scheme-handler/x-github-classroom=classroom-assistant.desktop`

And if I execute xdg-open the classroom assistant starts and then fails:
`$ xdg-open x-github-classroom://`
`kf5.kio.core: "preferred service for x-scheme-handler/x-github-classroom" "classroom-assistant"`
`(node:32320) Unhandl

[2018-10-02 18:56] johndbritton commented on #88
@srinjoym Maybe we should remove the ability to enter an assignment URL and make opening via the browser the only way to start a download session. What do you think?

[2018-10-02 18:57] johndbritton opened #94 "Download all assignments for a classroom"
Consider this a wishlist item.

It'd be great if Classroom Assistant would support downloading all repositories for all assignments in one click.

[2018-10-02 20:02] BenEmdon commented on #88
+1 from me

[2018-10-02 20:51] johndbritton commented on #88
Works for me. Please close this one out and create issues to track those plans.

[2018-10-03 00:05] srinjoym commented on #86
@jtppragg Sorry for the delay, thank you so much for the detailed debugging steps!

I downloaded your distribution of Kubuntu and see the same problem. Looks like just handling the error silently should fix the issue. I'll generate a build and test it out on Kubuntu and then bundle the patch with a few more UI fixes coming at the end of the week.

Once again, thanks for your patience! Hopefully Cl

[2018-10-03 02:31] caw13 commented on #86
@srinjoym The release you posted earlier in this chain resolved the issue I was having on Ubuntu 18.04, thank you for the quick fix.

[2018-10-03 12:10] erikmd opened #95 ""Download for Linux" raises the error "Version not found: latest""
Dear classroom-assistant developers,

It seems there is currently an issue with the GitHub classroom-assistant downloader for Linux:

### Steps to reproduce the bug
1. using Firefox ESR on Debian stable GNU/Linux amd64
2. given an assignment in Github classroom
3. when I click on the button `Download Repositories`
4. then I am redirected to https://classroom.github.com/assistant
5. when I click on

[2018-10-03 16:25] srinjoym opened #96 "Replace URL box with Autocomplete Search Bar"
Replace the URL entry box on the populate page with an autocomplete search bar similar to what we have on Classroom for Starter Code

### TODO
- [x] Implement API endpoints to fetch assignments for user on Classroom
- [ ] Search over all classrooms user has
- [ ] Show list of classrooms in UI

[2018-10-05 00:48] lizajane999 opened #97 "Linux classroom assistant running but GUI doesn't appear"
On Kubuntu Linux 18.04 when I start Classroom Assistant it seems to start, but the GUI does not appear. The process is running.

If I start from the command line, I get this:
[code]
Then it just sits there.

[2018-10-05 00:55] lizajane999 commented on #86
I am having the same unhandled promise rejection problem as discussed by @jtppragg in this thread.  Kubuntu 18.04, classroom assistant installed from .deb. I posted a new issue because I didn't see that it was being discussed in this thread until after.

[2018-10-05 06:12] srinjoym opened #99 "Enable Testing on Windows"
Currently, we only generate builds on Windows. Need to fix some flaky tests + enable tests on Appveyor.

[2018-10-05 06:24] srinjoym opened #100 "Only Build App on Tags"
Right now we build the entire application on every run of the test suite on both Travis CI and Appveyor 🐌

[2018-10-05 08:34] BrianEmilius opened #103 "Repositories cloned with CA expires"
The token for a repository downloaded with Classroom Assistant expires rather fast, which means I can download all repos for an assignment, but if a student makes any changes (for example if I tell them to make changes), I have to download their repo again, because the token has expired. I cannot pull their changes.

[2018-10-05 13:15] johndbritton commented on #103
This is by design

This sounds like you'd like the ability to run `git pull` for each of your student repositories. Is there a reason why deleting the cloned repositories and cloning them again doesn't give you what you need?

[2018-10-05 17:54] BrianEmilius commented on #103
I imagined it was by design, but as part of this ... let's call it a UX issue? - I'd very much like to be able to `git pull` a student assignment repo. The reason for this is a better workflow as a teacher, having to grade several assignments for a large group of students every single day.
I'd have to delete old (expired) repos, go back to classroom.github.com, find the assignment, click download

[2018-10-07 00:00] kevinwortman commented on #97
On plain Ubuntu Desktop 18.04 it runs and hangs, and I get

[code]

[2018-10-07 00:09] kevinwortman commented on #97
And on Xubuntu 18.04 the message is

[code]

[2018-10-09 11:32] mberasategi opened #107 "Where do repository icons come from?"
I'm just testing the Classroom Assistant and the repository listing shows an icon for each of them which has nothing to do with the actual repository. Where are those coming from?

[2018-10-09 11:33] mberasategi opened #108 "Only the first repo gets successfully cloned"
Each time I've tried, only the first repository in the list gets cloned. The rest show the error message `Clone failed: Folder could not be created.`

[2018-10-09 14:03] johndbritton commented on #107
The icon should be the avatar of the user, in the case that the user avatar is not set, GitHub provides an [Identicon](https://blog.github.com/2013-08-14-identicons/) which is a generated image to use in place of the avatar.

[2018-10-09 14:03] #107 closed

[2018-10-09 14:04] johndbritton commented on #108
Thanks for the report @mberasategi.

Can you please provide some more information?

* What operating system and version are you using?
* Can you provide a screenshot?
* Does this happen on all assignments or just this particular assignment?

[2018-10-09 14:11] mberasategi commented on #107
Thanks @johndbritton , but that's not what I'm seeing.

![imagen](https://user-images.githubusercontent.com/738823/46674907-9b637e80-cbdd-11e8-8a6e-785b3e6abd3b.png)

No user in the repositories has those avatars. See the [list of contributors to the first one](https://github.com/DeustoPWEB2018/proyectoweb-ocio/graphs/contributors), for example:

![imagen](https://user-images.githubusercontent.com

[2018-10-09 14:15] mberasategi commented on #108
OS is Windows 10 Pro v.1809. I don't have any other assignments to test at the moment, but it's been happening each time I've tried.

Also, the error appears instantly, even before the first download starts.

![imagen](https://user-images.githubusercontent.com/738823/46675261-525ffa00-cbde-11e8-919c-5d3d420e3ed7.png)

[2018-10-09 14:18] #100 closed

[2018-10-09 14:18] #95 closed

[2018-10-09 14:20] johndbritton commented on #107
You are viewing a group assignment, which according to https://github.com/education/classroom-assistant/issues/85 is unimplemented. Those avatars are incorrect.

Closing this in favor of #85 and updating there.

[2018-10-09 14:21] johndbritton commented on #85
A user observed this behavior and raised it as a bug in https://github.com/education/classroom-assistant/issues/107.

I'd suggest showing the avatar of the GitHub team or just a static image.

[2018-10-09 14:59] johndbritton commented on #108
@srinjoym Is this because of a race condition in https://github.com/education/classroom-assistant/blob/master/app/modules/submissions/actions/submission-clone-all.js?

[2018-10-09 20:01] johndbritton commented on #103
It would be ideal if we could just run a `git pull` for each repository, however due to the way authentication is handled, we're not able to pull again without getting a new authentication token.

I'm labeling this as an enhancement that we may address in the future, but for now the only way to get the latest code will be to clone all the repositories from scratch each time.

[2018-10-09 20:51] #99 closed

[2018-10-09 20:51] #93 closed

[2018-10-10 16:30] srinjoym commented on #86
@jtppragg @lizajane999 Just published a new build of Classroom Assistant which catches the error when the `xdg-settings` command fails.

Classroom Assistant also requires `gnome-keyring` when running on Kubuntu, the installation instructions are here: https://github.com/education/classroom-assistant/blob/master/docs/linux-issues.md#kde

Let me know if this build is working better, thanks for all o

[2018-10-10 16:38] srinjoym commented on #97
@lizajane999 Just published a new build here which catches the error when the `xdg-settings` command fails:  https://github.com/education/classroom-assistant/releases/download/v1.0.2/classroom-assistant_1.0.2_amd64.deb

Another dependency for running Classroom Assistant on KDE is `gnome-keyring`, here are the installation instructions: https://github.com/education/classroom-assistant/blob/master/d

[2018-10-10 16:53] srinjoym commented on #108
Hey @mberasategi 👋

Sorry you're hitting this issue! When you try to clone your assignment, which folder are you selecting as the `Archive Destination`?

<img width="1200" alt="screen shot 2018-10-10 at 11 49 08 am" src="https://user-images.githubusercontent.com/7866060/46752333-868cf680-cc82-11e8-9a28-cff2568bed1f.png">

@johndbritton We wait for the folder to be created before we try and clone t

[2018-10-10 17:03] mberasategi commented on #108
Now that I was going to answer, I've noticed I'm using a folder in the Google Drive File Stream drive. Will try again with a _local_ folder and get back.

The "container" folder and the first repository get cloned sucessfully though.

[2018-10-10 17:09] mberasategi commented on #108
Ok, that was it 🎉

Selecting a local drive made all repos to be cloned successfully. What is strange now is that the first one did even clone to the G File Stream drive, as I said before!

Anyway, solved. Feel free to close!

[2018-10-10 17:14] srinjoym commented on #108
@mberasategi Glad the issue is solved! Thanks for downloading Classroom Assistant 🍎 Feel free to open up another issue if you hit any other problems.

[2018-10-10 17:14] #108 closed

[2018-10-11 09:16] jtppragg commented on #86
@srinjoym now worked successfully!

There is a minor issue that I am not sure if it is related to this one. Now If I click "Download Repositories" from the web page of the assignment, it opens the assistant but I must enter the assignment URL manually. I am not sure whether this is normal or there is an issue dealing with the x-github-classroom:// URL.

Thank you!

[2018-10-11 09:47] jtppragg opened #110 "Random fails when cloning"
When downloading the repositories from an assignment many of them fail with a "Clone failed: an error has occurred" message. If I try to download them again, then the error happens again but with different repositories (random).

Sample screenshots from Classroom Assistant follow:
![screenshot_20181011_110843](https://user-images.githubusercontent.com/43606299/46795316-23669700-cd4a-11e8-84ea-53ee

[2018-10-11 15:54] johndbritton commented on #110
@jtppragg Thanks for submitting this issue. Can you also provide your operating system and version information?

[2018-10-11 16:44] jtppragg commented on #110
Hi @johndbritton, I am using Kubuntu 18.04 LTS and classroom assistant installed from the classroom-assistant_1.0.2_amd64.deb file.

[2018-10-12 18:47] johndbritton opened #111 "App name should be GitHub Classroom Assistant"
The app name is `Classroom Assistant` so when searching for `GitHub` in an operating system app launcher, no results are found.

Suggest updating the app name to be `GitHub Classroom Assistant` across all operating systems as suggested by @bca-benise.

[2018-10-12 18:49] johndbritton opened #112 "Better complete / success screen"
After completing the downloads, Classroom Assistant should update to have a finish button or some other way to start over or close the app. Right now the `Cancel` button is still displayed after a successful download.

cc/ @bca-benise

[2018-10-15 09:06] jtppragg commented on #110
Thank you @srinjoym, now GitHub Classroom Assistant is working perfectly for me. Anyway, I still suffer from this bug of GitHub Classroom https://github.com/education/classroom/issues/1586 which makes the assistant clone the wrong repository.

[2018-10-15 09:06] #110 closed

[2018-10-15 15:27] palves-ulht opened #113 "Several "Clone failed" errors when downloading assignment"
When I ask Classroom Assistant to download all the repositories, I get this error for several repositories and it remains stuck (I have to cancel):

![image](https://user-images.githubusercontent.com/10359239/46960318-2e952c00-d096-11e8-87db-0506bb1b08e7.png)

As you can see, there are errors in only some of them.
Strangely enough, all the repositories seem to have been successfully cloned to my d

[2018-10-15 15:30] johndbritton commented on #113
@palves-ulht This is a known issue and we are currently working on a fix.

It is caused by one or more of the admins on your GitHub account de-authorizing GitHub Classroom. A workaround is to remove those other admins from your organization or have them reauthorize classroom.

See: https://github.com/education/classroom-assistant/issues/110

[2018-10-15 15:42] palves-ulht commented on #113
@johndbritton Thanks for the quick reply.
However, I am the only administrator of this classroom:
![image](https://user-images.githubusercontent.com/10359239/46961497-cd228c80-d098-11e8-8044-39966731a65f.png)

It is true that my organization has another member but I am the only owner.

[2018-10-15 17:08] johndbritton commented on #113
Seems I may have spoken too soon. @srinjoym Can you investigate this issue more closely?

[2018-10-15 17:15] katriendeleu commented on #103
I'd also like to have the ability to `git push`. It is my way to give feedback. The students see my commit(s), and they can adjust their excercise. I `git pull` their new versions and this goes on just until they have solved the whole problem.

[2018-10-17 14:04] srinjoym commented on #97
Closing this out, looks like that build fixed the problem.

[2018-10-17 14:04] #97 closed

[2018-10-17 17:03] srinjoym opened #114 "Add support for testing with Classroom running locally"
Would be nice to be able to test with Classroom running locally instead of in production. Probably want to add an environment variable that we check for the Classroom API URL instead of hardcoding it in the application.

[2018-10-17 17:05] srinjoym commented on #86
Closing this out, @jtppragg feel free to open a separate issue for the URL entering issue. I suspect that's an artifact of the protocol handling errors on Kubuntu, we probably won't get a chance to find a fix until Electron improves support for protocol handling across more distributions of Linux.

[2018-10-17 17:05] #86 closed

[2018-10-17 17:30] srinjoym commented on #113
@palves-ulht Thanks for writing in! Super sorry you're hitting this issue, the problem looks to be on the Classroom side, so we'll get a fix out ASAP. For now, the app should continue to clone all of your student's submissions correctly it will just show an error on the UI.

@johndbritton @BenEmdon This issue looks like it's related to https://github.com/education/classroom/issues/1646

Classroom

[2018-10-17 19:00] BenEmdon commented on #113
The fix I made in https://github.com/education/classroom/issues/1646 will ensure that duplicate `AssignmentRepo`s aren't made in the future.

We might be able to run a rake task to delete duplicate assignment repos.
This could be unsafe since it's not always easy to determine which `AssignmentRepo` a student has started working in. We definitely don't want to delete an `AssignmentRepo` that a stud

[2018-10-20 16:57] palves-ulht commented on #113
Although I thought initially that the app was cloning all the submissions, I'm afraid that's not the case. I have an assignment where classroom assistant tells me that I have 59 submissions. Of those, 5 are duplicates, so I have 54 submissions. Just to confirm, I checked classroom.github.com and it matches (54 submissions). So, the first issue is that classroom assistant is duplicating some entrie

[2018-10-22 17:09] #113 closed

[2018-10-22 19:55] kevinwortman commented on #97
This bug appears to be fixed in both plain Ubuntu 18.04, and also Xubuntu 18.04, in the new 1.0.2 package. Thanks!

[2018-10-23 16:37] palves-ulht commented on #113
I can confirm that the problem is solved! Thanks!

[2018-11-11 19:32] #112 closed

[2018-11-11 19:32] srinjoym commented on #69
Fixed with #115

[2018-11-11 19:32] #69 closed

[2018-11-12 04:31] #48 closed

[2018-11-12 05:44] #71 closed

[2018-11-16 02:58] TranDatDT opened #117 "Classroom Assitant doesn't update team's name"
When my students rename their team's name and I use Classroom Assistant to clone their repository then I found that team's name is still old name. What should I do?

[2018-11-19 19:30] BenEmdon commented on #117
Hey @TranDatDT thanks for writing in. This sounds like a bug so there's nothing you can do your end.

@srinjoym I have 2 ideas that we could follow to fix this:
1. We could update a Group's name from the GitHub team `edited` event webhook (https://developer.github.com/v3/activity/events/types/#teamevent)
2. We could just show the `GitHubTeam` name instead

What do you think?

[2018-11-30 08:59] dietmarw commented on #103
I solved this by manually changing the `origin` uri from something like
`https://<x-access-token:ABCD...>@github.com/username/reponame.git`
to
`https://github.com/username/reponame.git`

Which is cumbersome for 20+ students.

Surely it should be easy for CA to set the latter URI instead of including the token after successful download.

[2018-11-30 17:13] itmeson commented on #103
I was just about to open a new issue for this when I found this one -- I would like to use CA to push and pull from student repos so I can give feedback and programmatically update files in assignments (using a shell script), which would work without problem if the origin was set by CA as dietmarw suggested.

[2018-12-03 20:20] sigged opened #118 "Create repository folders based on roster name"
When downloading an assigment, the repositories are cloned to folders named after the GitHub username of each student.

I'm having a hard time figuring out which username belongs to which name on my roster (I'm using full names as a roster identifier). Manually renaming these folders is a pain.

It would be nice to have an option in Classroom Assistant which would create folders based on the **ros

[2018-12-05 15:45] drynish commented on #118
I would like this request also!! I would make it a first priority.

[2018-12-11 01:57] jteresco commented on #103
I also was about to open a new issue because I am unable to push back up to the repositories on GitHub from the clones created with this tool, but it looks like it's this issue.  So I'll just add another voice saying that the clones need to have the same functionality as ones I clone directly or with script-based tools for them to be useful given the way I've been using Git and GitHub for interact

[2018-12-25 02:32] Chris-Johnston opened #119 "Cloned assignments do not follow deadline restriction"
When cloning the repos for an assignment with a set deadline, each will have the latest commit checked out by default, and not the latest commit before this deadline.

Steps to reproduce:
1. Create a new assignment with a deadline.
2. Create a new submission to this assignment, with at least one commit.
3. Wait for the deadline to pass.
4. Alter the submission.
5. Clone the assignment. The cloned

[2019-01-22 15:40] joel-coffman commented on #119
Ditto. What's the point of cloning locally if the only way to check what was completed by the deadline is using the web interface?

It would be nice to see a tag or signed commit so that the final commit *prior to the deadline* is (permanently) part of the repository. Without this feature, I see no value to the Classroom Assistant, at least for assignments with due dates.

[2019-01-23 11:48] nonZero opened #124 "Cannot login (using script/run)"
When running assistant in development from master (27d708ec6fff1456aa7cd4927342df8a060a2d47) using arch linux, after completing the two factor authentication, a blank window titled "OAuth application authorized" appears, and nothing happens.

It is not possible to work with the app.

![image](https://user-images.githubusercontent.com/66484/51604371-4726a500-1f15-11e9-94c4-65b4af6f144f.png)

These

[2019-01-31 13:42] keithmannock commented on #103
I would also like to echo those sentiments as "push"ing back to the student repos is the way I return feedback to them.

[2019-02-20 08:13] neumannm commented on #86
Hello, I have the same issue with Classroom Assistant 1.0.3 on Kubuntu 18.04. Same error window from KIO client. On command line, I also get this warning:

    [warn] Failed to set Protocol Handler on Linux: Error: Command failed: xdg-settings set default-url-scheme-handler x-github-classroom classroom-assistant.desktop
    xdg-mime: application argument missing
    Try 'xdg-mime --help' for more

[2019-02-27 08:20] bbreinbauer commented on #86
I can confirm the issue @neumann describes. Here is some information:
desktop file:
`ll /usr/share/applications/classroom-assistant.desktop
-rw-r--r-- 1 root root 229 26. Dez 10:05 /usr/share/applications/classroom-assistant.desktop`
mime list:
`grep github ~/.config/mimeapps.list
x-scheme-handler/x-github-classroom=classroom-assistant.desktop
x-github-classroom=classroom-assistant.desktop`
Openin

[2019-02-27 09:28] neumannm commented on #86
`LANG="" xdg-open x-github-classroom://`
Maybe this helps finding the root cause of the problem.

Great! This works for me, too.

[2019-03-11 00:10] MsJAHarris commented on #103
Agreed, I want the ability to push back any inline comments I have made and any "fixes".

[2019-03-17 20:26] hdsbbrooks commented on #103
Agreed with the above, being able to push back feedback is important.  I have been changing the URI manually as @dietmarw mentions but it's un-necessary work.

[2019-03-17 21:05] saurabhkanswal opened #125 "problem in installation for development on windows"
i got an error while installing for development
Installing/Updating NPM dependencies..

--

[2019-03-17 21:06] saurabhkanswal commented on #125
can you help me with this error?

[2019-04-09 05:39] brockcraft commented on #103
Yet another +1 for being able to push back the repos once we've made commetns/suggestions. This seems like key functionality for providing students feedabck.

[2019-04-09 19:00] johndbritton commented on #103
@srinjoym @mozzadrella something worth considering.

[2019-04-30 19:44] nonZero opened #126 "Does Authentication work on linux?"
Inspecting the code, it seems that authentication requires the usage of `open-url`, but it is a feature of electron on MacOS only.

Does authentication work on Linux?
If not, how can assistant be used on linux?

[2019-05-06 05:37] mmiotk opened #127 "Problem with install in Ubuntu 19.04"
When I install classroom-assistant, then requires lib-gconf2-4, but in Ubuntu 19.04 this package is replace by other.
Any suggestions??

[2019-05-07 07:38] neumannm commented on #103
Please consider adding the functionality to push back into these repos :+1:

[2019-05-19 21:30] thoward27 commented on #127
I am also receiving this error.

## Solutions Attempted

### apt install

[code]

### dpkg -i

[code]

At this point the assistant runs, however any attempt to run a system upgrade will remove the app:

[code]

[2019-05-22 07:56] iswariyam commented on #127
Please try the following :

`sudo add-apt-repository universe
sudo apt-get update
sudo apt-get -f install
`

This solved the error for me.

[2019-06-03 03:48] srinjoym opened #132 "Switch to a new build system"
Currently we're using [electron-forge](https://www.electronforge.io) for packaging GitHub Classroom Assistant. This package depends on [electron-prebuilt-compile](https://github.com/electron-userland/electron-prebuilt-compile) which has become out of date and has security issues.

There are two possible solutions:
1. Create a custom packager so we're not dependent on other packages
2. Switch to a

[2019-06-04 18:38] student-low opened #134 "Classroom Assistant Cannot Find Assignment"
**Describe the bug**
Unable to open assignment in classroom assignment. When clicking download repositories to launch classroom assistant, redirected to download page despite downloading classroom assistant. Classroom assistant has been uninstalled and re-downloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'classroom'
2. Click on 'Download repositories'
e. See error

**Expected

[2019-06-05 04:33] srinjoym commented on #134
Hi @student-low 👋 Thanks for writing in, sorry you’re hitting this issue! What operating system are you using? Classroom Assistant is only supported on Windows, MacOS, and select distributions of Linux.

Please try launching Classroom Assistant first to the launch screen and then click the Download Repositories button on Classroom. If the issue persists, I can help you debug the issue further.

[2019-06-05 04:39] srinjoym commented on #127
Hi @mmiotk did you end up resolving the issue? Unfortunately, Classroom Assistant is only supported for 16.04 and 18.04 officially right now. We don’t have the bandwidth to add support for 19.04 right now, but we can definitely look into it the next month or so since we’ll have some new engineers joining the team.

[2019-06-05 04:40] dcbacarro commented on #127
No, I didn't have no luck at all. I guess reverting back to 18.04 will be
my only option.

On Wed, 5 Jun 2019, 12:39 PM Srinjoy Majumdar <notifications@github.com>
wrote:

[2019-06-05 04:46] srinjoym commented on #126
Hi @nonZero 👋 Classroom Assistant is officially supported on Ubuntu 16.04 and 18.04. If you run into any issues installing on other distros, refer to https://github.com/education/classroom-assistant/blob/master/docs/linux-issues.md which has some documentation on potential fixes. Feel free to open up another issue if you hit any problems!

[2019-06-05 04:46] #126 closed

[2019-06-05 04:48] srinjoym commented on #124
Hi @nonZero, just responded to one of your other issues as well, Classroom Assistant has only been tested with Ubuntu 16.04 and 18.04. Refer to https://github.com/education/classroom-assistant/blob/master/docs/linux-issues.md for any other issues. We don’t have the bandwidth to add support for additional distributions right now but that might change in a month or so. Thanks!

[2019-06-05 04:48] #124 closed

[2019-06-05 04:56] srinjoym commented on #125
Hi @saurabhkanswal 👋

I haven’t seen this error before, and it looks like this is an issue with the npm configuration on your system. This thread here looks like it could yield a solution about the error with node-gyp: https://github.com/nodejs/node-gyp/issues/1195

[2019-06-05 05:03] srinjoym commented on #119
This is a great idea! I think this is definitely a feature we can add but it will require some changes on the API from the Classroom Web side. @mozzadrella this could be a good starter issue for the new interns!

[2019-06-05 15:13] student-low commented on #134
Hi @srinjoym !

Thank you for reaching out! I am using Windows 10. I tried launching Classroom Assistant and then clicked Download repositories and it redirects me to the Download Classroom Assistant page. I uninstalled and re-downloaded Classroom Assistant, but the issue still persists of the link not being inputted and no assignment found.

Also, I use both Edge and Chrome browsers. On Edge, the

[2019-06-05 15:31] #127 closed

[2019-06-05 17:06] srinjoym commented on #134
Thanks again for writing in! I just investigated this and narrowed this down to a bug in Classroom Web and just merged in a fix. Can you check if this is working for you now?

[2019-06-05 18:25] student-low commented on #134
Thank you @srinjoym ! Classroom Assistant is now working for me :)

[2019-06-05 18:25] #134 closed

[2019-06-06 13:23] thoward27 commented on #127
@mmiotk Instead of closing this and waiting till @srinjoym brings on new devs, could we use this to discuss the necessary changes? Perhaps if I get it working on 19.04 I could open a pull request to add support for 19.04?

[2019-06-07 03:11] student-low opened #136 "Classroom Assistant: Download Repositories link missing when Classroom Assistant not launched"
**Describe the bug**
When Classroom Assistant is not open, the Download Repositories button will open Classroom Assistant, but the assignment URL text box is not filled in. When Classroom Assistant is launched, only then will the URL text box be filled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Download Repositories'
2. Click on 'Classroom Assistant'
3. See error.

**Expected be

[2019-06-07 03:18] srinjoym commented on #136
Hi @student-low 👋

Thanks for writing in! This looks like it might be a Windows specific bug since it seems to be working from launch on Mac for me. I'll investigate further on a windows computer next week and update you on this thread!

[2019-06-13 14:44] malept commented on #132
I would be happy to help you migrate to Forge v6! FWIW, creating a custom packager is probably not in your best interests, from a technical debt POV.

[2019-06-20 23:32] stephaniegiang opened #139 "Change display of student name to roster id"
https://github.com/education/classroom/pull/1877 went into classroom that changes the display of the user's name. If the organization has a roster, the student's roster id should be displayed.

[2019-06-29 07:51] #125 closed

[2019-07-20 15:19] diehlpk opened #143 "RPM package"
Hi,
is there any effort to provide a rpm package next to the deb package?

Best,

Patrick

[2019-08-02 13:18] neumannm commented on #127
I agree with @thoward27 this issue should not have been closed.

[2019-09-07 11:56] chrisinabztf opened #145 "Download an Assignements at a certain time (in the past)"
Hi Everyone

I'm using Github-Classroom to let Students do their homework (programming stuff or documentation). I advise them to do it until a certain time (this happens multiple times over several months - so the due date is not suitable).
At the moment, I have to sit on my computer to download their stuff at the given date.

It would be handy to have the opportunity to download the repos at a ce

[2019-09-13 12:27] kurmasz commented on #103
Why is Classroom Assistant even using a temporary token in the first place?  Why can't it just use my ssh keys and set the origin URI accordingly?

[2019-09-16 01:44] lizajane999 opened #146 "Can't install .deb package, dependency not satisfiable: libgconf2-4"
I got a new computer and can't install Classroom Assistant. I'm running Kubuntu 19.04. When I try to install the .deb file, I get the error
[code]
There is no package with that name, it is named libgconf-2-4 (with extra dash after f) on my system.

[2019-09-16 02:36] lizajane999 commented on #86
Error is back! I just installed the newest version (1.0.5-1) on my Kubuntu 19.04 system and this error is back. I removed it and downloaded the v1.0.2 from the link above and that version still works (after I manually fix the dependency name issue I just reported in [issue 146](https://github.com/education/classroom-assistant/issues/146) ) .

[2019-09-23 11:29] BrianEmilius commented on #103
Any news on this enhancement request?

[2019-09-23 21:20] alvaromonge commented on #103
Agree that this functionality is needed... @mozzadrella what say you?

[2019-09-24 14:18] kevinkwl commented on #119
any updates?

[2019-09-25 18:12] ADWolfe-LoyNO commented on #103
I'm really flabbergasted at the suggestion that repeated fresh clones are a useful workflow for teaching. That's no better than Blackboard.

I have no idea just who wants to use Classroom Assistant to clone without ever pushing or re-fetching—that is, who wants to use GitHub CA without actually using _git_—but for the rest of us, can you please set up an option for Classroom Assistant to use the c

[2019-10-02 14:42] d12 commented on #139
Closing as duplicate of https://github.com/education/classroom-assistant/issues/118

[2019-10-02 14:42] #139 closed

[2019-10-03 18:14] sierrajulietromeo opened #147 "Downloading repositories via Github classroom - all fail"
Originally posted in education>classroom. Advised to post here. (Will delete original post)

Trying to download a set of class repositories using Github classroom helper. (Win 8 32bit).

Tried multiple times. All fail always.

![65994495-51794580-e48b-11e9-948b-8032a32db872](https://user-images.githubusercontent.com/30177706/66152657-dbebb180-e611-11e9-91a4-4e1644080100.png)

Assignment: https://c

[2019-10-04 23:09] pisanuw opened #148 "Classroom Assistant stuck at the "Choose Repositories" stage"
Classroom Assistant stuck at the "Choose Repositories" stage. Not showing any repositories, spinning and waiting for over 5m.

Internet works fine, can reach classroom.github.com and other sited directly

Mac 10.12.6
Classroom Assistant Version 1.0.5
Might be a temporary problem (2019-10-04 4:08pm PDT)

<img width="1198" alt="Screen Shot 2019-10-04 at 4 01 56 PM" src="https://user-images.githubuse

[2019-10-04 23:18] pisanuw commented on #119
I ask students to submit the hashtag of the last commit to our LMS which does enforce assignment deadlines and then have to do

[code]

[2019-10-05 11:46] pisanuw commented on #118
+1 for this request. As a workaround, I am using a python script along with the roster.csv to rename all directories, but not ideal.

[2019-10-05 11:52] pisanuw commented on #148
Reported it on https://github.com/education/classroom/issues/2408 as well, but not sure which is the correct forum, so close or link please.

[2019-10-06 19:10] palves-ulht commented on #148
I can confirm this issue, I'm having the same problem!

[2019-10-07 08:48] atrib commented on #148
Also facing this.

[2019-10-08 14:45] d12 commented on #148
Closed by https://github.com/education/classroom/pull/2416, this should be working now!

[2019-10-08 14:55] stephaniegiang commented on #147
Could you try repeating this issue? I believe it should be fixed now 😄

[2019-10-08 19:38] sierrajulietromeo commented on #147
Hi, I'm afraid I still have the problem - same as before.

[2019-10-08 20:04] stephaniegiang commented on #147
Just to confirm, all assignments are failing to download? Or are some of them failing?

[2019-10-09 07:04] sierrajulietromeo commented on #147
All of the assignments are failing to download.
The classroom assistant creates folders on my local machine for all my students once I press the button, but then seems to fail at the download.
I've tried running the assistant as Administrator - no change.

[2019-10-14 11:47] sierrajulietromeo commented on #147
Thanks for your efforts so far.
Is there any further information I can provide?
Should I look for plan B? (an alternative method to download these repositories?)

[2019-10-15 13:56] stephaniegiang commented on #147
For alternatives, you could click into each repo and then download them as a zip for now.

I can see the issue you are running into, I'm going to look more into this. I'll check back in once I have something.

[2019-10-21 16:42] d12 commented on #118
I got another request for this from a teacher. I am looking into getting this solved soon.

[2019-10-21 22:18] farnasirim opened #149 "Authentication is not completed when I use a recovery token for 2fa as opposed to an actual 2fa code"

[2019-10-24 15:37] zamansky opened #150 "Have exported assignments save to roster name rather than GitHub username"
Currently repos are exported to a directory with the GitHub username as the name. This isn't very useful to teachers, particularly when the GitHub username is arbitrary.

Far better to export to actual roster names. For example, if I had a student named "John Smith" and his GitHub id was SuperJohn123 instead of exporting to a directory named "SuperJohn123" it would export to a folder named "Smith_

[2019-10-25 18:29] #118 closed

[2019-10-25 18:29] #150 closed

[2019-10-27 12:28] zamansky opened #155 "Cloned repos from classroom assistant shouldn't be read only"
When cloning a set of assignments using classroom assistant, they're read only:

   remote: Temporary clone tokens are read-only.

That means a teacher can't annotate, add, or modify anything and then push it back to the student.

One can work directly in the assignment repo on GitHub or clone it directly from there but when operating on a class of assignments it would much more efficient to be ab

[2019-10-28 14:17] d12 commented on #147
Is this still happening @sierrajulietromeo ?

[2019-10-28 14:25] d12 commented on #155
:wave: @zamansky , this issue is being tracked here: https://github.com/education/classroom-assistant/issues/103. This comment https://github.com/education/classroom-assistant/issues/103#issuecomment-443136565 has a workaround that may work for you. It's repetitive, but it'll allow you to push and pull to these repositories.

We're hoping to have a better solution in place at some point, that issu

[2019-10-28 14:25] #155 closed

[2019-10-28 15:28] janosg commented on #86
I also run into the libgconf2-4 problem reported in #146. @lizajane999 How did you fix this manually?

[2019-10-30 17:59] sierrajulietromeo commented on #147
Will try tonight

[2019-10-31 14:42] vljubovic commented on #86
Same problem on Kubuntu 19.04, version 1.0.5. Workaround: Create a file named ~/.local/share/applications/github-classroom.desktop with following contents:

`[Desktop Entry]`
`Name=Github Classroom`
`Exec=classroom-assistant`
`Type=Application`
`Terminal=false`
`MimeType=x-scheme-handler/x-github-classroom;`

[2019-11-04 14:47] colm-connaughton commented on #103
As another user who would like to use git push to provide feedback, I would like to add my voice to those above.

[2019-11-04 22:32] johndbritton commented on #103
_I'm no longer working at GitHub but wanted to shed some light on the rationale that was used at the time of designing this feature._

The primary goal of Classroom Assistant is to help teachers download student work to disk in bulk.

There are a lot of security issues to take into consideration, and after careful research the path of using temporary cloning tokens was selected as the safest optio

[2019-11-05 00:50] rdrenner opened #156 "Access Token Left in .git/config file"
After I use Classroom Assistant to download an assignments repositories for grading, the access token in left in the remote URL in the .git/config file.  This token then keeps me from being able to push the results of my grading back to GitHub. I have to manually delete the token from the config file in each repository.

[2019-11-05 07:30] BrianEmilius commented on #103
Hi @johndbritton

Thanks for that explanation! I absolutely understand (at least, I think I do) the concerns you've outlined and I can see how it presents real issues to the workflow I would love to be able to use.
The update button in the desktop client seems like a very nice feature. I think I will do an issue on that. I can see where it would come in handy.

That only leaves the question of how

[2019-11-05 07:34] BrianEmilius opened #157 "Feature request: Pull button"
As @johndbritton speaks of in [this issue](https://github.com/education/classroom-assistant/issues/103#issuecomment-549577999) a button in the classroom client to pull repositories that are already cloned through the client would be a very nice feature.

This way, teachers wont have to clone all repositories again, when students have made changes to their assignments.

[2019-11-05 13:02] HuxyUK commented on #103
If the cloned repositories set the origin URL to the repository address instead of just adding a token URL, your normal username and password would work fine. At the moment I have a script that automatically adds a remote URL and pushes changes using that. My username and password is set for the session, meaning I don't have to keep entering it.

[2019-11-05 13:29] gcschmit commented on #103
As @HuxyUK shared, you can set the origin URL to make all of this work with some added steps. I have a couple of scripts that are specific to my workflow involving Canvas that may be useful:

https://github.com/NNHSComputerScience/gitHubScripts

That said, I'm not sure if this is still my preferred approach to providing feedback to students. We are currently exploring using GitHub Issues instead.

[2019-11-05 21:34] johndbritton commented on #103
I think this is a valid feature request as well, set the origin remote repo to the correct github URL after the repo is cloned using the temporary token. Perhaps that should be a separate issue as well.

I think the main goal of this issue is a `refresh` button that updates the already cloned repos.

[2019-11-05 21:35] johndbritton commented on #103
@gcschmit I agree that committing to the repo is not the most ideal way to give feedback. I've had this idea for a long time that the feedback should come in the form of a code review on GitHub.

I think there's an issue somewhere to add a `grade assignment` button to submissions in classroom that would open a pull request of the student's work against an empty commit, essentially giving a diff wi

[2019-11-06 20:45] sierrajulietromeo commented on #147
It still fails. Tried via admin rigĥts, tried downloading just 1. Always fails. I'm just working around the issue now.
I note that it displays this message attached, even though I have Google Chrome set as my default browser and is the general browser I'm using.
![Capture2](https://user-images.githubusercontent.com/30177706/68336468-61adc180-00d6-11ea-914b-2b6c5629b5a2.PNG)

[2019-11-15 10:24] agricolamz opened #161 "Github Classroom Asisstant changes default .html viewer to itself"
Hi, I am a newbie in Github CA, but anytime I'm open this program it changes my `.html` default program to Github Classroom Asisstant.

I'm on Linux Mint. I'd be happy to report the version of Github CA I use, but there is no any info button for this...

[2019-11-15 18:46] agricolamz commented on #88
[Copy from here.](https://github.com/education/classroom/issues/1632)

I faced the same issues with two my classes:

https://classroom.github.com/classrooms/56619293-2019_2020_ds4dh/assignments/ds4dh-hw1
https://classroom.github.com/classrooms/56619293-2019_2020_ds4dh/assignments/ds4dh-hw2

Links are from clicking the Download repositories button.

It happened yesterday, but two-three weeks ago I

[2019-11-22 15:30] cgokce commented on #119
I can still reproduce this issue. Can you fix this? Deadline feature is useless unless it is integrated with the assistant app.

[2019-12-01 03:02] studentdemoaccount opened #162 "Can't log in on Windows 10, even though Chrome is available"
When I start the Classroom Assistant it shows me the normal login screen.

When I click on the 'Log In With Classroom' button I get the following error:

![image](https://user-images.githubusercontent.com/45976071/69908683-81699a00-13a3-11ea-9ce5-cc4c3e53dd8a.png)

I do have Chrome installed and Chrome is my default browser.  I'm also on Windows 10 so it's possible that it's trying to use IE (or E

[2019-12-01 03:07] studentdemoaccount commented on #162
I spoke too soon - I **am** able to log in (after clicking on 'ignore').

It's worth noting that whatever browser Assistant is using didn't save my password (at least initially) so I had to go ask Chrome to show me my password (it was one of those auto-generated strong password things)

[2019-12-03 15:41] eothein commented on #103
We use github classroom assistent to download group projects in bulk. We review their code every week, so as to give feedback using the "Issues" of GitHub. Hence, I would like to perform `git pull` every week on the repo to (i) see their progress and (ii) see the log of the commits they have made so far.

[2019-12-17 07:49] aliutkus commented on #146
hi,
I don't understand how this issue was solved, I can't install classroom assistant due to libgconf2-4 dependency not met

[2019-12-17 16:37] HuxyUK opened #163 "Clone failed: an error has occured on OpenSUSE"
Hi,

I've moved from Solus and can confirm that on PopOS! and Solus that the application works as expected, however, when using OpenSUSE all clones fail: ```Clone failed: an error has occured.```

I've tried the RPM and buillding from source, but I get the same error.

The console shows the following:
[code]

Any ideas?

[2020-01-05 22:35] meech-ward commented on #103
There might be a more elegant solution, but here's a quick and dirty bash script that will change the remote url and allow you to push and pull:

[code]

Just run that on every repo.

[2020-01-14 17:51] paulsmithkc opened #164 "Cannot pull new code for student assignments"
**Describe the bug**
I can use the Classroom Assistant client to download a snapshot of my students' assignments. However, when I try to pull down a new version of their assignment I get the following error.

`remote: The token in this link has expired. Please request another temporary clone link.`

**To Reproduce**
Steps to reproduce the behavior:
1. Download and Install the **Classroom Assistant

[2020-01-14 17:57] paulsmithkc commented on #103
The biggest issue here, is that we lose all of the local configuration and compilation that we had to do after downloading the assignment, to get it to the point where we could test and grade it.

Towards the end of the semester, this also means redownloading several gigabytes of data that you have already downloaded previously.

[2020-01-15 09:59] credmp commented on #146
Hi,

It seems the package was renamed at some point. My Ubuntu/Pop_OS installation lists the package as:
[code]

Regards,

Arjen

[2020-01-15 16:54] d12 commented on #164
Closed in https://github.com/education/classroom/issues/2520#issuecomment-574725190

In case others run into this, the solution is in 👆

[2020-01-15 16:54] #164 closed

[2020-01-15 16:57] d12 commented on #103
The solution here https://github.com/education/classroom-assistant/issues/103#issuecomment-570954993 resolves this issue, in a hacky way. I'll leave this issue open for now, Classroom Assistant should replace the remote after we finish cloning.

[2020-01-21 20:31] kingoftheconnors opened #165 "Could not find assignment (even when pressing "Download Repositories")"
Hello!

I am a class assistant new to Github Classroom. So far, we have had only one assignment, so I downloaded the assistant and tried grading it in Github Classroom, I pressed "Download Repositories." Two things happened.

First, it opened Github Classroom Assistant and it pasted the URL into the Select Assignment field, exactly as seen in the navbar. Apparently that's wrong because Classroom A

[2020-01-21 22:47] ddeveshh commented on #165
I'm facing the same issue. Installed github classroom assistant for the first time.
<img width="1202" alt="Screen Shot 2020-01-21 at 2 45 41 PM" src="https://user-images.githubusercontent.com/6959404/72849980-de275980-3c5c-11ea-8542-4d2c240afdbe.png">

[2020-01-21 23:27] d12 commented on #165
Something's definitely up right now, we're looking into this. I'll post an update once we have more info.

[2020-01-21 23:57] d12 commented on #165
Update: We're believe we've identified the bug, pushing a fix shortly.

[2020-01-22 00:19] d12 commented on #165
@kingoftheconnors @ddeveshh We've pushed a fix upstream, you should be all set. Thanks for the reports, and sorry for the downtime!

[2020-01-22 00:19] #165 closed

[2020-01-29 21:02] lizajane999 commented on #146
This is still an issue. I've upgraded my other computer to Kubuntu 19.10 and cannot run or reinstall classroom assistant because of unmet dependency libgconf2-4. There is a dash missing in the name, libgconf-2-4 is installed on my system.

[2020-01-30 10:05] credmp commented on #146
From what I understand from the setup this is due to an older dependecy on electron. I tried to make sense of the npmjs registry (https://www.npmjs.com/package/electron), from what I can tell the latest version is 7.1.11.

It is the electron thing that is packaging the debian file using https://github.com/electron-userland/electron-installer-debian. That project has an open issue: https://github.c

[2020-02-10 23:18] lizajane999 commented on #146
Hack to force install on Ubuntu: use the `equivs` package to make a fake `libgconf2-4` package and install it, then install the classroom-assistant .deb package after. See here for instructions: http://shallowsky.com/blog/linux/install/blocking-deb-dependencies.html

[2020-02-11 15:43] THSCS opened #166 "Clone Failed: an error has occurred"
I'm get the error `Clone Failed: an error has occurred` on some repositories when I try to download. It's seems sporadic, and not always the same repositories if I run it more than once.

Feels like it might be related to education/classroom#2537

[2020-02-24 03:21] ProfBird commented on #146
I'm having the same problem on Ubuntu 19.10. When I try to install  classroom-assistant_1.0.5_amd64.deb I get this error:
**The following packages have unmet dependencies:
 classroom-assistant : Depends: libgconf2-4 but it is not installable**

I'd like to see the package fixed rather than do a work-around. Can someone at GitHub Education tell us if there Is there a fix in the works?

[2020-02-24 03:58] ProfBird commented on #127
I agree too. @srinjoym, did you get the new devs you were hoping for? Hopefully they can look at this package :grin:

[2020-02-26 12:27] kenpower opened #167 "Can't find assignment"
Windows 10. App downloaded 26/02/2020

Steps to reproduce:

Open & login Classroom Assistant app
Click "download Repositories/open in Classroom assistant" in assignment page

Expected:
Classroom assistant app opens with found assignment

Actual:
Classroom assistant gives "could not find assignment" error

NOTE: avatar in app is incorrect which leads me to believe that this is a login error
NOTE: a

[2020-02-26 12:35] kenpower commented on #167
More information:
I quit CA (classroom assistant)
Open CA to launch screen with login button, do nothing
In assignment page, click download and launch CA
CA presents login dialog
enter email & password
CA presents 2FA dialog
BEFORE I complete entering 2FA code, the main CA window (underneath the dialog) shows the error.
Then I complete the 2fa code and the 2fa dialog says "Cookies must be enabled

[2020-03-12 01:31] EmersonPaduan commented on #86
I'm using classroom 1.0.5 on Ubuntu 18.04 and this works for me too.

[2020-04-06 16:55] fschiffers opened #169 "Command line access"
Hello,
I want to use classroom-assistant remotely through a terminal and I don't have a GUI.
Is there any way to download all repos through the command line?

Best,
Florian

[2020-04-08 21:25] dmusican commented on #161
I've been experiencing this same bug myself. I'd love to see it fixed; it's reasonably irritating to have to keep resetting my html file associations every time I run the program. Thanks!

[2020-04-08 22:17] agricolamz commented on #161
Oh, I need to try it out!

[2020-04-09 17:15] phortonssf commented on #167
I have the exact issue when I copy an existing URL from github classroom assignment it gives me the same error.  Tried with multiple assignments in different github classrooms the same result.

[2020-04-23 23:02] dgomes opened #173 "Can't login to GitHub Classroom Assistant"
If I try to launch from the web I get a 404

From the app I get:

![Screenshot 2020-04-24 at 00 01 10](https://user-images.githubusercontent.com/137684/80157765-d0b49f00-85be-11ea-9a92-0e5d7afa5343.png)

[2020-04-23 23:27] dgomes commented on #173
I was able to login by opening a different assignment.

Yet I still can't get to use "Download Repositories" it always sends me a 404 :(

(I need to score those assignments pronto... hope I don't have to download 1 by 1)

[2020-04-24 09:25] HuxyUK commented on #163
FWIW I was able to get it cloning by symlinking libcurl
```sudo ln -s /usr/lib64/libcurl.so.4 /usr/lib64/libcurl-gnutls.so.4```

[2020-04-27 17:05] GreenDavidA commented on #173
I'm having the same issue.

[2020-05-04 16:35] jtppragg opened #174 "Use roster identifier in downloaded repository names"
When downloading all the students' repositories for a given assignment, it is more useful to name the directories after the student's roster ID. Currently, the name of the student GitHub account is used as the directory name and we have to manually map that names into the ID we use to track and evaluate them.

I similar issue was opened (and fixed) for GitHub Classroom: https://github.com/educatio

[2020-05-12 12:06] pdvrieze commented on #86
There is a default file, but it doesn't include the mime type. Adding it solves the issue.

[2020-05-12 16:55] jeffrafter opened #176 "Include platform in analytcis"
Currently we are not recording the platform in the user analytics. With this information we could focus on features for specific platforms and track bugs and upgrades per platform.

[2020-05-12 16:56] jeffrafter commented on #173
Sorry for the slow reply, we've just released a new version. Can you try in 2.0.x?

[2020-05-12 16:57] jeffrafter commented on #169
At the moment there is not a way do this. It is possible to use git and write a script for it. Let us know if this is functionality you would like to see in the future.

[2020-05-12 16:57] #169 closed

[2020-05-12 17:02] fschiffers commented on #169
Hi Jeff,
I have to download all the assignments on my remote machine where I don't have a GUI. To circumvent this problem, I'm now downloading all git-repos to my windows-machine and then upload them to the server.

It's not taking me too much time, but it's also not optimal. If it's not much work to implement a small command-line functionality I believe that would be appreciated by a lot of peopl

[2020-05-13 13:22] dgomes commented on #173
Still failing... Classroom Assistant doesn't even try to open, the website gives me a 404....

[2020-06-11 14:16] agricolamz commented on #161
No, it is the same for me...

[2020-06-26 15:44] mrsimonsen commented on #119
Don't let this this issue die, this would be an extremely useful feature.

[2020-09-11 11:23] srvanderplas commented on #173
I'm also having this issue. Ubuntu 18.04 with KDE (if that matters). I've gotten it working on 2/3 of my computers, and had this issue on all of them, so it seems to occur intermittently? It would be helpful to be able to access the developer console in classroom assistant to see what the real issue is.

[2020-09-15 21:42] klaeufer opened #186 "Error opening x-github-classroom:// on XFCE with workaround"
OS: GalliumOS 3.1 (based on Xubuntu 18.04)

When starting classroom-assistant, the following error message appears

[code]

During the subsequent OAuth sequence, the redirect from the browser back to classroom-assistant does not work.

It started working after executing the following command, which seems to be more widely supported than `xdg-settings`:

[code]

[2020-10-01 17:22] igormcoelho opened #187 "Cannot login "There was a problem authenticating with GitHub, please try again""
Hello, my first time using assistant, and I get this message:
"There was a problem authenticating with GitHub, please try again".
I've tried several times already... any other way to fix this?

[2020-11-28 06:42] An-prog-hub commented on #157
..

[2020-12-01 21:46] huytran1 opened #190 "Classroom assistant crashes when logging in on macOS Big Sur"
I just upgraded to Big Sur (macOS Big Sur Version 11.0.1) and have had my Macbook Pro (13-inch 2016) instantly crash/restart both times I've tried use the Classroom Assistant app after entering my GitHub login information. I haven't had issues with Classroom Assistant before Big Sur.

I'm using "Classroom.Assistant-darwin-x64-2.0.2".

Is anyone else having similar issues?

[2020-12-10 10:38] BrianEmilius commented on #157
Is this issue going to be picked up?

[2020-12-14 22:56] jeffrafter commented on #190
I'm looking into this now....

[2020-12-15 02:39] huytran1 commented on #190
@jeffrafter Looks like it is working now - I'm guessing there was a keychain login error or something? Thanks!

[2020-12-15 02:39] #190 closed

[2020-12-15 03:51] jeffrafter commented on #176
Closing as we are removing analytics.

[2020-12-15 03:51] #176 closed

[2020-12-15 03:52] jeffrafter commented on #187
Can you confirm that this is still happening? I am working on a new version and there were (potentially) some issues with Mac OS Big Sur.

[2020-12-15 03:53] jeffrafter commented on #173
(Sorry for the exceedingly long delay). I'd like to include this fix in the newest release. But I wanted to confirm this is still happening on 2.0.2. Anyone still experiencing this.

[2020-12-16 03:37] jeffrafter commented on #157
I like that... this is not something we are looking at implementing right now, but I would happily help anyone looking to make it and would review a pull request.

[2021-01-19 08:12] dranidis commented on #186
OS: 5.10.2-2-MANJARO

Same problem here.

Adding the line:

`MimeType=x-scheme-handler/x-github-classroom`

in /usr/share/applications/classroom-assistant.desktop did the trick for me.

Run:

`sudo update-desktop-database`

after editing.

[2021-01-30 21:13] avenable11 opened #199 "Cannot login to GitHub Classroom Assistant on Windows 10"
I have tried many different methods for logging in.  If I click on the link from the assignment page to download repositories, Classroom Assistant opens to the main page.  If I click on the login button on the Classroom Assistant main page, a new window opens to the GitHub login page. Entering my credentials there give me a page that says it is redirecting to an authorized application, then that w

[2021-02-02 03:34] avenable11 commented on #199
I tried again today, and everything is working now.

[2021-02-02 03:34] #199 closed

[2021-02-03 19:24] natasha-aleksandrova opened #200 "Allow to select a Branch during student repo download"
Our students use develop branch so that they can compare against master and we can leave feedback via PR, however classroom assistant downloads default branch only. Don't see a way to specify what branch to download.

[2021-02-04 19:32] rahji opened #201 "Remember output directory"
I have a small feature request - can the application remember our last selection for the output directory? The default of "/tmp" is arbitrary and inconvenient (at a minimum, it could default to the user's home directory)

[2021-02-13 20:54] thelmuth opened #202 "Stuck Loading Assignment Repositories forever"
I'm getting stuck forever on this window, and it won't load the repositories to download them:

![image](https://user-images.githubusercontent.com/197060/107861446-b67cd380-6e13-11eb-9705-a404d0cabd5d.png)

I've tried this on Windows and Mac with the latest version of Classroom Assistant. It loads the assignment fine, and then loads here forever.

[2021-02-21 12:11] crguezl commented on #202
Same thing. Loops forever with this assignment:

https://classroom.github.com/classrooms/68184024-ull-esit-pl-2021/group-assignments/github-campus-expert

GHC Version: 2.0.3

NOTE: The assignment is a group assignment, seems to work well with individual assignments.

[2021-03-04 03:55] saramathieson commented on #202
Same issue here (individual assignments work fine but loops forever with group assignments).  MacOS 10.15.6

[2021-03-07 07:33] fjubin opened #203 "Have the choice to download with the name of student"
Hello

I create my assignements with the format "Lastname Firstname" for my students.

When i download the archive of a assignment, it create the students folder with the pseudo and not with the "Lastname Firstname" format.

sometime it's easy to recognize the student (similarity of account name and real name), sometime it's iddficult. So i need to have a conversion table in excel to do that that

[2021-03-09 00:12] math-mcshane commented on #113
Just want to follow up -- @BenEmdon -- this issue appears to have returned (?). I am getting the same mixture of error messages/successes as OP. Apologies if this has been posted elsewhere.

As an example repo:
https://classroom.github.com/classrooms/79130288-stat375-sp21/assignments/journal-1

[2021-03-21 12:10] bmuellerhstat commented on #202
Same here (group assignments)

[2021-03-23 19:44] danielnemenyi commented on #103
I've put this together [into a script](https://github.com/danielnemenyi/git-classroom-mass-fix-n-push/blob/main/README.md) to bulk fix, pull and push  a directory-full of Classroom repos, based on @meech-ward 's script. Hope it's useful to others!

[2021-03-24 19:54] maxwenger commented on #119
+1 Bump.
This feature is present in other common LMSs like canvas and would make it way easier to adopt.

[2021-03-24 19:58] maxwenger commented on #119
+1 Bump. This would make it way easier to adopt.

[2021-03-29 18:54] francesquini commented on #173
I am.
Same problem on 2.0.3.

[2021-04-07 13:49] jifbrodeur commented on #202
Same here group assignment v2.0.3 macOS v11.2.3.

[2021-04-13 20:41] ana-markovic commented on #148
Being stuck with the same issue for a few months now... Apparently, it's not working anymore!

[2021-04-22 17:53] wmoralesdev commented on #202
Same here with group assignments

[2021-04-30 15:06] TousignantSimon commented on #202
Same here with group assignments
Win 10.

[2021-05-02 18:33] fuhrmanator commented on #119
For now, the workaround I am recommending to my TAs is to run Classroom Assistant right after the deadline, so clones happen appropriately.

Can anyone clarify if the "Submission" feature described at https://github.blog/2017-08-23-github-classroom-now-supports-deadlines-and-class-rosters/ is still valid (or is it irrelevant with CA)?

[2021-05-15 20:05] wschilling commented on #202
I'm having this today on two different computers.  Group assignment as well.

[2021-05-16 13:16] vfami opened #210 "Issue while cloning repos of my students"
Hi,
I am having issue with github classroom with some of my student repos.

![image](https://user-images.githubusercontent.com/37641679/118398590-515d9780-b627-11eb-8050-38e445363f9a.png)

[2021-06-16 20:45] senisioi commented on #202
same here, ubuntu 20.04

[2021-06-24 16:02] senisioi commented on #202
I don't have a solution for the classroom assistant, but here's a raw python script that crawls the github classroom pages.

https://gist.github.com/senisioi/1e077637621d5995b49200a18e983a34

Fill in the request header the Cookie and the homework URL.

[2021-07-01 19:54] thomas-schuster commented on #187
Just used release 2.0.3 (currently latest) and experienced the same issue.

As OS, I am using kubuntu 20.04.02 LTS.

[2021-07-01 20:07] thomas-schuster commented on #187
I just recognized that this is related to #186.

The fix suggested by @dranidis also worked for me kde. Obviously I also had to fix a mimetype setting (as described [here](https://github.com/clearlinux/distribution/issues/1906#issuecomment-855198858))

[2021-09-02 08:10] ccoenen opened #215 "Does not honor system setting core.autocrlf on windows"
# The Situation
I am using classroom assistant on windows, and Git defaults to changing around white space from `\n` to `\r\n` - which I think is a bad idea but that part is not your fault.

I set my git up in a way to _never_ change any files on its own via `git config core.autocrlf=false`. This way I'm getting exactly the same file contents across all systems.

# The Problem
When cloning a bunch

[2021-09-02 08:12] ccoenen commented on #215
the setting is in effect for both `--system` and `--global`:
![grafik](https://user-images.githubusercontent.com/124909/131807664-665ff624-84f4-43bd-87cc-06a7b20be616.png)

[2021-09-10 00:16] canhelp2001 opened #216 "Can add bulk delete function in Classroom assistant?"
It will be great for us to reuse the classroom without creating a new link for each assignment.

[2021-09-28 19:50] will-leeson commented on #202
I'm having the same issue on both a Windows 10 and Ubuntu 20.04 machine

[2021-10-13 02:36] Jassi10000 opened #218 "Request to build Github Actions for the repo ?"
@srinjoym Can I build actions for issues and PRs in this repository

[2021-11-28 22:18] Clashsoft opened #219 "Sort Repositories"
It would help to be able to sort repositories by name. Either using a sort button (ascending, descending?), or just by default. The current sort order appears to be random.

Use Case: We assign submissions to different TAs, usually in blocks of n students, in an external table that is sorted by GitHub usernames. Would be nice if everyone could just look for the first person that was assigned to th

[2021-12-19 23:28] akulpillai opened #220 "[Security] Workflow releases.yml is using vulnerable action actions/checkout"
The workflow releases.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(

[2022-02-05 19:26] mmaclow commented on #162
![image](https://user-images.githubusercontent.com/5454392/152655979-4e64d1f5-0657-40a6-b0a1-436a7bdaffb1.png)
I got the same error just now, even though Chrome in its uptodate version is running on MacOS X Catalina.

[2022-02-24 23:15] etiennebeaulac commented on #119
+1 here too, this feature would be really useful!

[2022-04-08 06:34] tedMcleod commented on #103
I was shocked that CA didn't have a way to at least pull all the repos it had cloned. I thought Classroom assistant would be helpful. I cloned all their repositories and then set up the projects in eclipse. Then I found out I couldn't pull which means all that set up time was wasted. This makes no sense. My time would have been better spent just manually cloning them one at a time since I would on

[2022-05-05 19:09] maujac commented on #103
I'm having problems adding comments to student's Pull Requests due to this token expiration. I've installed the Github Pull Requests and Issues extension and after closing the students repos with CA, I would like to add comments to their PR as described in the article [Working with GitHub in VS Code](https://code.visualstudio.com/docs/editor/github#_reviewing).

If I remember correctly, acout 3 we

[2022-09-07 09:28] Tobeyforce opened #235 "Ubuntu 22.04 - Crashes on launch"
After installing the latest .deb-package "classroom-assistant_2.0.4_amd64.deb" using sudo dpkg --install classroom assistant will instantly crash upon launch.

Can we expect 22.04 support anytime soon?